appdirs==1.4.4
beautifulsoup4==4.12.2
certifi==2023.7.22
charset-normalizer==3.3.2
DateTime==5.2
finqual==1.2.0
fredapi==0.5.1
frozendict==2.3.8
html5lib==1.1
idna==3.4
joblib==1.3.2
lxml==4.9.3
multitasking==0.0.11
numpy==1.26.1
packaging==23.2
pandas==2.1.2
patsy==0.5.3
peewee==3.17.0
python-dateutil==2.8.2
pytz==2023.3.post1
ratelimit==2.2.1
requests==2.31.0
scikit-learn==1.3.2
scipy==1.11.3
six==1.16.0
soupsieve==2.5
statsmodels==0.14.0
threadpoolctl==3.2.0
tzdata==2023.3
urllib3==2.0.7
webencodings==0.5.1
yfinance==0.2.31
zope.interface==6.1
